nav>ul>li>a{
    padding: 40px;
    margin-right: 40px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
    color: #fcf6f6fd;
}
ul{
    text-align: left;
}
li{
    display: inline-block;
}
nav{
    background-color: grey;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    padding-bottom: 30px;
    width: 100%;
}
nav>ul>li>a:hover{
    box-shadow: 5px 5px 5px grey;
    color: black;
    background-color: darkred;
}
.navbar a{
    padding: 17px;
    text-decoration: none;
    font-size: 17px;
    box-shadow:5px 5px 5px darkslategrey;
}
.active{
    background-color: #4CAF50;
}
body{
    display: flex;
    flex-direction: column;
    margin-right: 90px;
    margin-left: 90px;
    background-color: #669999;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    margin-top: 100px;
    overflow-x: none;
    font-family: 'Gudea', sans-serif;
}
footer{
    color: red;
    background-color: black;
    margin-top: 2%;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -8px;
}
tr{
    border-collapse: collapse;
    margin: 10px;
    border: 1px solid black; 
}
th{
    border-collapse: collapse;
    margin: 10px;
    border: 1px solid black; 
}
table{
    border-collapse: collapse;
    margin: 10px;
    border: 1px solid black;
}
td{
    border-collapse: collapse;
    margin: 10px;
    border: 1px solid black; 
    
}
#table2{
    
}
    