*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 10%;
    background-color: salmon;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    overflow-x: hidden;
    font-family: 'Gudea', sans-serif;
}

#first{
    display: flex;
    flex-direction: column;
    border: 1px ridge #0000ff;
    margin-top: 10px;
    margin-left: -70px;
    margin-right: 20px;
}
#second{
    display: flex;
    flex-direction: column;
    border: 1px ridge #0000ff;
    /*margin-left: 20px;*/
    margin-right: 280px;
    margin-top: 10px;
}
#third{
    display: flex;
    flex-direction: column;
    border: 1px ridge #0000ff;
    margin-left: -250px;
    margin-top: 10px;
    margin-right: 100px;
}

/*.wrap-first-second-third{
    display: flex;
    align-items: start;
}*/
nav>ul>li>a{
    padding: 40px;
    margin-right: 40px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
    color: #fcf6f6fd;
}
ul{
    text-align: left;
}
li{
    display: inline-block;
}
nav{
    background-color: grey;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    padding-bottom: 30px;
}
h1,h2,h3{
    background-color: darkred;
    margin-top: -1px;
}
nav>ul>li>a:hover{
    box-shadow: 5px 5px 5px grey;
    color: black;
    background-color: darkred;
}
/*#music{
    border: 1px solid #c40802;
    background-color: #3ac404;
}
#dance{
    border: 1px solid #c40802;
    background-color: #3ac404;
}
#acrobats{
    border: 1px solid #c40802;
    background-color: #3ac404;
}
#football{
    border: 1px solid #c40802;
    background-color: #3ac404;
}
#history{
    border: 1px solid #c40802;
    background-color: #3ac404;
}*/
.navbar{
    width: 100%;
    background-color: #c40802;
    margin-bottom: 100px;
}
.navbar a{
    padding: 17px;
    text-decoration: none;
    font-size: 17px;
    box-shadow:5px 5px 5px darkslategrey;
}
.active{
    background-color: #4CAF50;
}
#link{
    background-color: #ff3399;
}
footer{
    color: red;
    background-color: black;
    margin-top: 2%;
    margin-right: -182px;
    margin-left: -182px;
    margin-bottom: -80px;
    padding-left: 30px;
}
/*#mosounds{
    margin-left: -2px;
    padding-left: -50px;
}
#homeboyz{
    margin-left: -2px;
    padding-left: -30px;
}
#blackstar{
    margin-left: -2px;
    padding-left: -30px;
}
#msounds{
    border: 1px solid #c40802;
    background-color: #3ac404;
}
#hboyz{
    border: 1px solid #c40802;
    background-color: #3ac404;
}
#bstar{
    border: 1px solid #c40802;
    background-color: #3ac404;
}*/

}
iframe{
    border: 1px solid #c40802;
    background-color: #3ac404;
    max-width: 100%;
    height: auto;
}
#text1,#text,#text3{
    color: #c40802;
}
img{
    max-width: 100%;
    height: auto;
}
.general{
    /*float: right;*/
    display: flex;
    justify-content: space-evenly;
    /*flex-direction: column;*/
}
#music{
    position: relative;
    left: 570px;
    bottom: 320px;
}
#image{
    position: relative;
    left: 100px;
    bottom: 300px;
}